* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.form {
    width: 22%;
    height: 60%;
    background-color: #171717;
    border-radius: 22px;
    transition: all .3s;
    gap: 10px;
    padding: 1em 2em .4em 2em;
    display: flex;
    flex-direction: column;
}

.form:hover {
    transform: scale(1.03);
    border: 3px solid black;
    box-shadow: 0 0 0 2px rgba(0, 255, 170, 0.3),
        0 4px 12px rgba(0, 255, 136, 0.4),
        0 0 20px rgba(0, 255, 255, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

#heading {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    transform: translateY(80px);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
  transform: translateY(80px);
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  transform: translateY(80px);
}

.button3:hover {
  background-color: red;
  color: white;
}